{% extends "pages/base.html" %}


{% block content %}


<section id="about"> <!-- about -->
ABOUT MOMENI & ASSOCIATES, INC.

Momeni & Associates, Inc. is a full service construction and construction management firm headquartered in Las Vegas, Nevada.  The firm was founded by Moe Momeni in early 2000’s.  Our principal's collective experience confirms that commitment, competence, and communication are essential to a successful project.  Our staff is carefully selected for these characteristics.

Having participated on thousands of projects assignments with a total construction value in the millions of dollars, Momeni & Associates has managed all phases of the construction process.  From pre-design through completion, Momeni & Associates has experience in all facets of project construction and management.  Owners turn to Momeni & Associates, to help minimize risk and deliver projects on time, within budget and with the highest quality deliverables.  Momeni & Associates provides developers and capital market clients' invaluable assistance through realistic project feasibility assessment, development strategy, and planning.
</section> <!-- end about -->

<section id="services"> <!--services -->
	SERVICES




CONSTRUCTION:					Office Buildings
Retail Center
Industrial Facilities
Institutional/Educational Buildings
Tenant Improvements
Medical/Dental Offices
Multi-family Residential
Custom Homes
Post-Construction Repair
Concrete Repair



PROJECT MANAGEMENT SERVICES:		Program/Design Development Phase
Budget/Schedule Development
Entitlement Management
Procurement
Design Administration
Construction Administration
Project Accounting
Project Close-out


CONSTRUCTION MANAGEMENT:	Scheduling/Cost Estimating
Value Engineering
Pre-Construction Services
Construction Document Phase
Plans and Specifications
Pre-Construction Bid Phase
Construction Supervision
Safety Program

FORENSICS:					Construction Defects Litigations
Insurance Claims Investigations
Expert Witness Testimony
Construction Repair Management
Mediation/Arbitration

</section> <!-- end services -->

<section id="contact"> <!--contact-->
	CONTACT US

3110 S. Durango Drive, Suite 205
Las Vegas, Nevada 89117
Tel: (702) 248-8004
Fax: (702) 248-8495
Email: info@momeniassociates.com


Like the current website, have a fill in part for the clients to send us massages. 

Our domain name:	www.momeniassociates.com
</section> <!-- end contact -->


